doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='styles/styles.css')
    title menu
  body
    h1.homepage MENU
    ul
      li
        a(href="/song/King von") king von 
      li
        a(href="/song/offset")  offset
      li
        a(href="/song/trippie redd")  trippie redd